@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}
.shell,
.wallets,
.new-wallet {
  position: absolute;
  left: 0;
  right: 0;
}
.shell {
  top: 0;
  bottom: 0;
  background: #000;
}
.wallet,
.new-wallet {
  padding: 1rem;
}
.wallets {
  top: 0;
  bottom: 5rem;
}
.wallet:first-child:nth-last-child(1),
.wallet:first-child:nth-last-child(1) ~ .wallet {
  height: 100%;
}
.wallet:first-child:nth-last-child(2),
.wallet:first-child:nth-last-child(2) ~ .wallet {
  height: 50%;
}
.wallet:first-child:nth-last-child(3),
.wallet:first-child:nth-last-child(3) ~ .wallet {
  height: 33.33333333%;
}
.wallet:first-child:nth-last-child(4),
.wallet:first-child:nth-last-child(4) ~ .wallet {
  height: 25%;
}
.wallet:first-child:nth-last-child(5),
.wallet:first-child:nth-last-child(5) ~ .wallet {
  height: 20%;
}
.wallet:first-child:nth-last-child(6),
.wallet:first-child:nth-last-child(6) ~ .wallet {
  height: 16.66666667%;
}
.wallet:first-child:nth-last-child(7),
.wallet:first-child:nth-last-child(7) ~ .wallet {
  height: 14.28571429%;
}
.wallet:first-child:nth-last-child(8),
.wallet:first-child:nth-last-child(8) ~ .wallet {
  height: 12.5%;
}
.wallet:first-child:nth-last-child(9),
.wallet:first-child:nth-last-child(9) ~ .wallet {
  height: 11.11111111%;
}
.wallet:first-child:nth-last-child(10),
.wallet:first-child:nth-last-child(10) ~ .wallet {
  height: 10%;
}
.wallet:first-child:nth-last-child(11),
.wallet:first-child:nth-last-child(11) ~ .wallet {
  height: 9.09090909%;
}
.wallet:first-child:nth-last-child(12),
.wallet:first-child:nth-last-child(12) ~ .wallet {
  height: 8.33333333%;
}
button,
input {
  outline: none;
  border-radius: 0;
}
button {
  cursor: pointer;
}
.wallet:nth-child(4n+1) {
  background: #482e00;
  color: #c7ad7f;
}
.wallet:nth-child(4n+1) button {
  border-color: #c7ad7f;
  color: #c7ad7f;
}
.wallet:nth-child(4n+1) button.expanded {
  background: #c7ad7f;
  color: #482e00;
}
@media (hover: hover) {
  .wallet:nth-child(4n+1) button:hover {
    background: #c7ad7f;
    color: #482e00;
  }
}
.wallet:nth-child(4n+2) {
  background: #021430;
  color: #8193af;
}
.wallet:nth-child(4n+2) button {
  border-color: #8193af;
  color: #8193af;
}
.wallet:nth-child(4n+2) button.expanded {
  background: #8193af;
  color: #021430;
}
@media (hover: hover) {
  .wallet:nth-child(4n+2) button:hover {
    background: #8193af;
    color: #021430;
  }
}
.wallet:nth-child(4n+3) {
  background: #481d00;
  color: #c79c7f;
}
.wallet:nth-child(4n+3) button {
  border-color: #c79c7f;
  color: #c79c7f;
}
.wallet:nth-child(4n+3) button.expanded {
  background: #c79c7f;
  color: #481d00;
}
@media (hover: hover) {
  .wallet:nth-child(4n+3) button:hover {
    background: #c79c7f;
    color: #481d00;
  }
}
.wallet:nth-child(4n) {
  background: #002e26;
  color: #7fada5;
}
.wallet:nth-child(4n) button {
  border-color: #7fada5;
  color: #7fada5;
}
.wallet:nth-child(4n) button.expanded {
  background: #7fada5;
  color: #002e26;
}
@media (hover: hover) {
  .wallet:nth-child(4n) button:hover {
    background: #7fada5;
    color: #002e26;
  }
}
.wallet .address {
  max-width: 20rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wallet .balance {
  font-size: 2rem;
}
.wallet .actions,
.wallet .error {
  display: inline-block;
}
.wallet .actions {
  margin-top: 0.25rem;
}
.wallet .actions button {
  margin-right: 0.25rem;
}
.wallet button {
  background: transparent;
  border: 1px solid transparent;
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.wallet button .icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}
.wallet .error button.expanded {
  width: auto;
}
.wallet .error button.expanded .message {
  padding-right: 0.25rem;
}
.wallet .error button.collapsed .message {
  display: none;
}
.new-wallet {
  bottom: 0;
  height: 5rem;
  text-align: center;
  background: black;
}
.new-wallet fieldset {
  display: inline-block;
  width: 100%;
  max-width: 480px;
  border: 0;
  position: relative;
  height: 3rem;
}
.new-wallet fieldset .address,
.new-wallet fieldset .add {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 1.66666667rem;
}
.new-wallet .address {
  padding-left: 0.55555556rem;
  padding-right: 3rem;
  left: 0;
  border: 1px solid #999;
  background: #333;
  color: #fff;
  width: 100%;
}
.new-wallet .address:placeholder {
  color: #999;
}
.new-wallet .add {
  right: 0;
  width: 3rem;
  height: 3rem;
  border: 0;
  background-color: #999;
  color: #333;
}
@media (hover: hover) {
  .new-wallet .add:hover {
    border: 1px solid #999;
    background: #ccc;
    color: #666;
  }
}
