@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.shell {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    flex-align: stretch;
}

.wallet {
    padding: 1rem;
    flex: 3;
    color: #fff;
}

.wallet:nth-child(4n+1) {
    background: #482e00;
    color: #c7ad7f;
}

.wallet:nth-child(4n+2) {
    background: #021430;
    color: #8193af;
}

.wallet:nth-child(4n+3) {
    background: #481d00;
    color: #c79c7f;
}

.wallet:nth-child(4n) {
    background: #002e26;
    color: #7fada5;
}

.wallet .address {}

.wallet .balance {
    font-size: 2rem;
}

.new-wallet {
    background: #000;
    flex: 1;
    position: relative;
    padding: 1rem;
}

.new-wallet .address {
    background: #333;
    color: #fff;
    border: 1px solid #666;
}

.new-wallet .address:placeholder {
    color: #fff;
}

.new-wallet .add {
    background: #666;
    color: #fff;
    cursor: pointer;
}

.new-wallet .add:hover {
    background: #999;
}

.new-wallet .add:active {
    background: #888;
}

.wallet-form {
    position: absolute;
    top: calc(50% - 15px);
    left: 0;
    right: 0;
    text-align: center;
    white-space: nowrap;
}

.wallet-form input {
    width: 300px;
    height: 30px;
    outline: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.wallet-form button {
    height: 30px;
    width: 30px;
    border: 0;
    outline: none;
    font-size: 1.2rem;
}
